//section(data-background-iframe="http://www.htmlhifive.com/")

mixin dynamic-iframe(id, iframeSrc, imgSrc)
  iframe(id="#{id}" width="1200px" height="800px")
  img(style="margin: 0; z-index: 1;" id="#{id}_img" width="1200px" src=imgSrc)
  script.
    var elem = document.getElementById('#{id}' + '_img');
    elem.addEventListener('click', function(){
      var frame = document.getElementById("#{id}");
      frame.setAttribute('src', "#{iframeSrc}");
      var img = document.getElementById('#{id}' + '_img');
      img.style.display = 'none';
    });

section.center
  h2 本気で考える<br>「HTML5」×「業務システム」 
  div(style="font-size: 0.6em; text-align: right")
    新日鉄住金ソリューションズ株式会社<br>
    システム研究開発センター<br>
    石川真也<br>
    img(src="../img/hifive_logo_clear.png" width="200px" alt="hifiveロゴ")

section(style="text-align: left")
  h3 石川 真也（@meganetaaan）
  hr
  img(width="300px" style="float: right; margin-right: 40px;" src="../img/me.jpg")
  
  h4 所属
  p 新日鉄住金ソリューションズ<br>システム研究開発センター

  br
  h4 hifiveチーム リードエンジニア 

  br
  h4 技術領域
  ul
    li HTML/CSS/JavaScript
    li Java(Spring)/Node.js
    li Selenium Web Driver

section
  h2 書籍が出版されました！
  img.book(width="300px" src="../img/itpro_book.jpg")
  p #htmlhifive #osc16tkを付けて呟いた方にプレゼント！

section(data-markdown data-separator="^---\n" data-separator-notes="^Notes:\n").
  ## こんな人向け
  * ユーザ企業の情報システム部門の方
  * システム内製化を検討中の方
  * SIer、ソフトハウス等の技術リーダー
  * HTML5を使った開発に興味がある方

  Notes:
  想定するシステム
  * 企業が業務遂行のために使うWebシステム
  * 向上や店舗の現場で従業員が使うWebシステム
  * ECサイトやサポートサイトなどのWebサイト
  想定しないシステム
  * 広告
  * ゲーム
  * 静的サイト

section.center
  h1 tl;dr
  h3 今こそHTML5の表現力を<br>業務システムに活用しよう
  p Webならではの難しさを解消しつつ<br>「大規模開発」する土壌が整いつつある。
  aside.notes.
    これからは業務システムも積極的にHTML5を使って開発すべきである、と私達は考えます。
    * 見栄えや操作感の改良
    * マルチデバイス対応
    * アプリ配布コスト抑制
    * ベンダーロックインの回避
    業務要件にありがちな
    * 大量データの可視化
    * リアルタイム通信
    さらに
    * 3D
    * メディアの利用
    もできる。
    あまり開発の踏み込んだ話はしない。
    デモ多めで楽しい感じにしたい。

section.center
  h1 HTML5適用の利点

section
  h2 HTML5とは
  img(width="40%" src="../img/html5_logo.png" alt="html5_logo")

  ul
    li W3Cが勧告した次世代Web標準
    li タグの整理
    li 機能追加
  aside.notes
    p 業務システムに適用する企業も現れている
    | 例：
    | 例１
    | 例２ （B2Cでもよいので）派手目の事例

section.center
  h3 HTML5は、業務システムに<br>どんな貢献ができるだろう？

section
  h2 棚割り
  .row
    .col-3
      h3 要件
      ul
        li タブレット
        li タッチ操作
      hr
      h3 テクノロジ
      ul
        li タッチイベント
        li canvas, SVG
    .col-7
      .example: .example-content
        +dynamic-iframe("tanawari", "https://www.htmlhifive.com/ja/gallery/planogram/", "../img/tanawari.png")

section
  h2 日報（フォーム）
  .row
    .col-3
      h3 要件
      ul
        li フォーム入力
        li バリデーション
        li スマートデバイス対応
      hr
      h3 テクノロジ
      ul
        li HTML5フォーム
        li CSS3
    .col-7
      .example: .example-content
        +dynamic-iframe("nippo", "https://hifivemania.github.io/hifive-handson/8/", "../img/nippo.png")

section
  h2 データグリッド
  .row
    .col-3
      h3 要件
      ul
        li 高パフォーマンス
        li 数百数万行の<br>データ表示
        li 高機能 行/列固定
        li セル結合
        li コピーペースト
      hr
      h3 テクノロジ
      ul
        li 非同期処理
        li 可視範囲のみ描画
    .col-7
      .example: .example-content
        +dynamic-iframe("datagrid", "https://www.htmlhifive.com/ja/recipe/workflow/complete/", "../img/workflow.png")

section
  h2 データ視覚化（チャート）
  .row
    .col-3
      h3 要件
      ul
        li リアルタイム描画
        li Internet Explorer8で<br>軽快に動作
      hr
      h3 テクノロジ
      ul
        li SVG
        li VML
    .col-7
      .example: .example-content
        +dynamic-iframe("chart", "https://www.htmlhifive.com/ja/gallery/foreign-exchange/", "../img/forex.png")

section
  h2 データ視覚化（グラフ表現）
  .row
    .col-3
      h3 要件
      ul
        li 高パフォーマンス
        li インタラクティブ
        li ノード移動,編集など
      hr  
      h3 テクノロジ
      ul
        li SVG
        li 可視範囲のみ描画
    .col-7
      .example
        img(style="width: 600px" src="../img/graph.png")
        //video(width="590px" height="400px" src="../mov/h5graph.mp4")

section
  h2 データ視覚化（3D表現）
  .row
    .col-3
      h3 要件
      ul
        li 3D表現
        li インタラクティブ
        li 視点変更,クリック
      hr
      h3 テクノロジ
      ul
        li WebGL
        li three.js
    .col-7
      .example.small.col-7: .example-content
        +dynamic-iframe("3d", "http://hifive.github.io/hifive-samples/gallery/rain-map/WebContent/index.html", "../img/3d.png")

section.center
  h2 HTML5適用の利点
    h4.
      Webアプリが元々持つメリット<br>
      ×<br>
      ネイティブアプリ的な<br>
      表現,機能,操作性,パフォーマンス<br>
      開発技術基盤の統一

section
  h1 揃いつつある要素技術
  h2 Canvas SVG CSS3 File API IndexedDB  WebSQLDB XHR2  WebSocket  CSS Media Queries デバイス連携 AppCache Web Components  WebRTC  WebWorker etc.etc.

section.center
  h1 HTML5を使った<br> 開発の進め方
  aside.notes.
    HTML5で実現可能な表現、機能について、
    HTML5がもたらすメリットについて解説しました。
    リッチなUIを持つシステムの開発は
    予定通り開発を進めることが難しくなりがち。
    li HTML5開発ならではの考慮点
    li 開発の進め方
    li 役に立つツール,ライブラリ
    1. 要件定義
    2. 設計
    3. 実装
    4. テスト
    5. 運用,保守

section.center
  h2 業務システムの特長
  p &
  h2 業務Webシステム開発の<br>嵌りどころ
  p を押さえる
  
section
  h2 業務システムの特長
  .row
    .col-3
      h3 <span class="highlight">IT戦略と課題</span>
      h3 開発
      h3 運用・保守

    .col-7: :markdown
      * IT投資における維持費用の抑制<br>→攻めの投資への転換
      * 振興発展技術軍への対応
        - SMAC
        - IoT
      * 開発～運用全般に渡る統制
        - セキュリティリスクへの対応

section
  h2 業務システムの特長
  .row
    .col-3
      h3 IT戦略と課題
      h3 <span class="highlight">開発</span>
      h3 運用・保守

    .col-7: :markdown
      * 多人数での役割分担
        - PM, SE, デザイナ
      * 分散チーム開発
      * 外部システムとの接続
      * アジャイル的開発スタイルの登場

section
  h2 業務システムの特長
  .row
    .col-3
      h3 IT戦略と課題
      h3 開発
      h3 <span class="highlight">運用・保守</span>
    .col-7: :markdown
      * 業務の変更に伴って改造される
      * 数年～１０年以上使われる
        - 開発（保守）メンバーが<br>途中で変わることも

section
  :markdown
    ## 業務Webシステム開発時の<br>嵌りどころ
    * ブラウザの実装による差異（要件定義）
    * 画面の複雑化（設計・実装）
    * ブラウザの頻繁な更新（運用・保守）

  aside.notes.
    ブラウザの実装による差異への対策
    　システム化範囲の明示
      機能面
        ブラウザによって使えない機能があるのでcaniuseで確認。
      パフォーマンス面
        JavaScriptエンジンの性能向上はめまぐるしい
    　「Web標準へ準拠」→IE11よりEdge
      IE11より前はサポートが終わるので非推奨
    　Androidもデバイスレベルで決めておく？
    画面の複雑化
      FWを利用する(5つの選定基準は書籍を見てね)
      コンポーネントに分割する。責務を分離する。
      神オブジェクト
    ブラウザの頻繁な更新
      自動テスト

section: :markdown
  ### ブラウザの実装による差異
    * 一部のデバイス・ブラウザでは
      - 実装されていない機能がある
      - パフォーマンスが出ない
      - 拡大率を変えた際の挙動がおかしい
      - 印刷レイアウトが崩れる

section
  :markdown
    ### 対策
      * 対象ブラウザ、デバイスの選定
        - http://caniuse.com
      * モックアップによる<br>
        操作性、応答性の確認
  img(src="../img/designer.png" width="600px")

section
  :markdown
    ### ブラウザの更新頻度
    * およそ6週間に一回のアップデート
    * 10年間使い続けると…
  img(src="../img/browser_update.png" width="600px")
  aside.notes.
    いつもの図

section
  :markdown
    ### 対策
      * 変化に気づける仕組みを導入する
        - テストのコード化・自動化
        - CI
  .row
    .col-7: img(src="../img/test.png" width="600px")
    .col-3: img(src="../img/pitalium.png" width="100px")
  aside.notes.
    変化に気付ける仕組み→
    自動テスト, モバイルブラウザもPitalium

section
  h3 画面の複雑化
  ul
    li 画面の状態・ライフサイクル管理が煩雑
    li 業務処理と画面操作が混在
  img(src="../img/account.png" width="600px")

section
  h3 対策
  ul
    li コンポーネント化
    li <strong>フレームワーク</strong>の利用
  img(src="../img/account_components.png" width="600px")
  aside.notes.
    「ページ」または「フレーム」が最小単位だった昔と比べて
    JSの役割が増え続けている。
    FWを利用する(5つの選定基準は書籍を見てね)
    コンポーネントに分割する。責務を分離する。

section
  h3 フレームワーク選定のための考慮事項
    ul
      li オープンな仕様であるか？
      li 何を解決しようとしているか？
      li 使いこなせそうか？
      li 開発要因は確保できるか？
      li プロダクトとしての継続性があるか？
  img(alt="hifiveロゴ" width="400px" src="../img/hifive_logo_clear.png")
  aside.notes

section.center
  img(alt="hifiveロゴ" width="400px" src="../img/hifive_logo_clear.png")

section
  img(alt="hifiveロゴ" width="400px" src="../img/hifive_logo_clear.png")
  :markdown
    * 業務Webシステム開発のためのプラットフォーム
    * Apache License, Version 2.0
    * 2012/4 公開
    * 現在 Version1.2.3

    ### コンセプト 
    * 使い始めるための敷居を低く 
    * Webの標準的な仕組みから逸脱しない 
    * 開発のサイクルをトータルにサポート 

section
  h2 コアフレームワーク
  small
    :markdown
      * Controller 
        - イベントハンドリング 
        - メモリのクリーンアップ（参照の自動null化） 
      * View
        - テンプレート 
        - データバインド 
          * ボタンなどの 基本UI部品は他のライブラリに
      * Model/Logic
        - 階層化MVC (PACパターン)
        - データオブジェクトの変更管理
  aside.notes. 
    その他
    アスペクトによる横断的ログ取得
    型を保持できる オブジェクトシリアライザ等のUtil 
  img(src="../img/hifive_architecture.png" width="600px")

section: :markdown
  ## Hello World 

  ```javascript
  (function(){
    var controller = {
      __name: 'myapp.PageController',
      '.button click': function(){
        alert(‘hello world!’);
      }
    };
    h5.core.controller('body', controller);
  })();
  ```

  ⇒詳細はwww.htmlhifive.com 

section
  :markdown
    ## 開発者ツール
    * アプリの構造をランタイムに可視化 
    * 動作中のコントローラ一覧表示
    * イベントハンドラの表示
    * hifive本体の後にJSを追加で1つ読み込むだけ
      - 保守,引継の効率化 
  img(src="../img/dev_tool.png" width="400px")

section
  img(src="../img/pitalium_name.png" width="600px")
  :markdown
    * マルチデバイス/ブラウザによるテスト並列実行
    * 画像による変更差分の検出・比較
  img(src="../img/browsers.png" width="600px")

section.center: :markdown
  ## Watch us!
    * facebook: [www.facebook.com/htmlhifive](http://www.facebook.com/htmlhifive)
    * Twitter: [@htmlhifive](https://twitter.com/htmlhifive)
    * Website: [www.htmlhifive.com](http://www.htmlhifive.com)

section.copyright
  h2 商標について 
  ul
    li NS Solutions、NS（ロゴ）、NSSOLは、新日鉄住金ソリューションズ株式会社の登録商標です。 
    li hifive、hifive(ロゴ)は、新日鉄住金ソリューションズ株式会社の登録商標です。 
    li Pitalium、Pitalium(ロゴ)は、新日鉄住金ソリューションズ株式会社の登録商標です。 
    li JAVAは､米国ORACLE Corp.の登録商標です｡ 
    li HTML5 Logo by W3C. 
    li その他本文記載の会社名及び製品名は、それぞれ各社の商標又は登録商標です。 
